PUBLIC_ORIGIN=https://thanks2go.securedme.ca
PAYPAL_ENV=sandbox
PAYPAL_SANDBOX_RETURN_ORIGIN=http://localhost:5173
PAYPAL_T2G_CLIENT_ID=
PAYPAL_T2G_CLIENT_SECRET=
SOLANA_DEVNET_RECIPIENT=
ES256_PRIVATE_JWK=
ES256_KEY_ID=thanks2go-2026-09
